* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg , black, red);
  font-family: 'Bruno Ace SC', cursive;
}
/*intro of stopwatch*/
#intro{
  font-family: 'Bruno Ace SC', cursive;
   background: -webkit-linear-gradient(30deg,whitesmoke ,orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: none;
}

/* color for digit and text */
#container {
  color: silver;
}

.digit {
  font-size: 50px;
  font-weight: bold;
  padding: 5px;
  color: whitesmoke;
}

.text {
  font-weight: bold;
  font-size: 40px;
  margin: 2px;
  color: whitesmoke;

}

#btns-container {
  text-align: center;
  padding: 90px;
  color: black;
}

.buttons {
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
  border: 0;
  border-radius: 300px;
  cursor: pointer;
  border : 2px solid black; 
}


#start {
  color: silver;
  background: linear-gradient(45deg, #f3ec78, #af4261);
  color: black;                     
  font-weight: bolder;

} 

#reset {
  color: silver;
  background: linear-gradient(45deg, #f3ec78, #af4261);
  color: black;
  font-weight: bolder;
}

#stop {
  color: silver;
  background: linear-gradient(45deg, #f3ec78, #af4261);
  color: black;
  font-weight:bolder;
}


/* colon displaying none for large devices only display in small devices */
.colon {
  display: none;
}

/* media query for sm devices */
@media only screen and (max-width: 499px) {
  body {
    background-color: black;
    text-align: center;
    width: 99vw;
  }
  .digit {
    font-size: 60px;
    font-weight: bold;
  }
  .text {
    display: none;
  }
  .colon {
    display: unset;
    font-size: 50px;
  }
  #msec {
    display: block;
  }
  #container {
    margin-top: 40px;
  }
}

/* media query for md devices */
@media only screen and (max-width: 992px) {
  body {
    display: unset;
    text-align: center;
  }
  .digit {
    font-size: 70px;
    font-weight: bold;
  }
  .text {
    font-size: 25px;
  }
  #btns-container {
    text-align: center;
    padding: 50px;
  }
}